/*
hr {
    border: 2px none #000000;
    border-top:6px solid #10033f;
    height: 1px;
    margin: 5px 0;
    display:block;

}
*/

h1 {

    color: rgb(15, 59, 6);
    font-style: italic;
    
}

.contenedor1{

    display: flex;
    justify-content:center;
    align-content:center;
    flex-wrap: wrap;
   
}
.boton{

    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
    align-content:center;
    
}
button{

    width: 60px;
    height:20px;
    background:rgb(9, 94, 51);
    color: whitesmoke;

}

.card{
    display: flex;
    flex-direction:column;
    flex-wrap:initial;
    justify-content:left;
    width: 300px;
    height: 255px;
    margin: 5px;

    margin-left: 20px;
    background: cornsilk;
    border:solid 5px black;

}

.card{

    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
}


